body{
    font-family: 'Zen Old Mincho', serif;
}
.welcome{
    background-image: url(../Img/stairs.jpg);
    padding: 250px 250px;
    margin: 100px;
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
    
}
#welcome-text{
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
}
#small{
    color: rgb(255, 255, 255);
    font-size: 13px;
    text-align: center;
}
#logo{
    text-align: center;
}
#mouse{
    text-align: center;
}
.us{
    text-align: center;
}
.services{
    background-image: url(../Img/keyboard.jpg);
    padding: 250px 200px;
    margin: 100px;
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
}
#services-title{
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
}
#service{
    color: rgb(255, 255, 255);
    font-size: 13px;
    text-align: center;
}
#what-we-do{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20mm;
}
.container-1{
    display: flex;
    column-count: 3;
    text-align: center;
}
.design-hidden{
    width: 100%;
}
.design-showing{
    width: 100%;
    display: none;
}
.development-hidden{
    width: 100%;
}
.development-showing{
    width: 100%;
    display: none;
}
.product-management-hidden{
    width: 100%;
}.product-management-showing{
    width: 100%;
    display: none;
}
.portfolio{
    text-align: center;
}
#portfolio-title{
    text-align: center;
}
.container-2{
    display: flex;
    column-count: 4;
    margin-left: 255px;
}
.container-3{
    display: flex;
    column-count: 4;
    margin-left: 255px;
}
.form{
    background-image: url(../Img/engine.jpg);
    padding: 250px 150px;
    margin: 100px;
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
}
#form-title{
    color: white;
    text-align: center;
}
.container-4{
    display: flex;
    column-count: 2;
    text-align: center;
}
#input-1{
    text-align: center;
    font-size: 15px;
    margin-right: 0.1px;
    margin-left: 7cm;
}
#input-2{
    text-align: center;
    font-size: 15px;
    margin-left: 5cm;
}
#message-form{
    border: 2px solid rgb(255, 255, 255);
    padding: 6px;
    margin: 20px;
    width: 800px;
    height: 300px;
    background: local;
    margin-left: 7cm;
}
.container-5{
    display: inline-block;
    margin-left: 700px;
    margin-right: auto;
    align-content: center;
}
.footer{
    text-align: center;
}
#button{
    text-align: center;
    margin-left: 18cm;
}

