.welcome{
    background-image: url(../Img/stairs.jpg);
    padding: 250px 250px;
    margin: 100px;
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
}
#welcome-text{
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
}
#small{
    color: rgb(255, 255, 255);
    font-size: 13px;
    text-align: center;
}
#logo{
    text-align: center;
}
#mouse{
    text-align: center;
}
.us{
    text-align: center;
}